---
import Layout from '@layouts/Layout.astro'
import Breadcrumbs from '@components/Breadcrumbs.astro'
import ProgramEventAstro from '@components/ProgramEvent.astro'
import { api } from 'src/api'
import type { ProgramEvent, ProgramSpeakerProfileDto } from 'src/__gen-api'
import axios from 'axios'

export function getStaticPaths() {
  return [
    { params: { slug: 'agnieszka-kulbat' } },
    { params: { slug: 'anna-szumacher' } },
    { params: { slug: 'artur-dzikowy-olchowy' } },
    { params: { slug: 'barbara-zorana-maj' } },
    { params: { slug: 'bartlomiej-sztobryn' } },
    { params: { slug: 'barbara-spacekettle-snuszka' } },
    { params: { slug: 'borys-zajaczkowski-bruno-grigori' } },
    { params: { slug: 'dominika-nerd-kobieta-tarczon' } },
    { params: { slug: 'dominika-urbanska' } },
    { params: { slug: 'grzegorz-greg-gajek' } },
    { params: { slug: 'grzegorz-wielgus' } },
    { params: { slug: 'ilona-kobieta-slimak-myszkowska' } },
    { params: { slug: 'jan-woznica' } },
    { params: { slug: 'janusz-stankiewicz' } },
    { params: { slug: 'kapitan-fandom' } },
    { params: { slug: 'katarzyna-wierzbicka' } },
    { params: { slug: 'krzysiek-piersa' } },
    { params: { slug: 'leszek-cyfer' } },
    { params: { slug: 'lukasz-kucharczyk' } },
    { params: { slug: 'ryfek' } },
    { params: { slug: 'magdalena-salik' } },
    { params: { slug: 'marcin-kon-movie-konczewski' } },
    { params: { slug: 'marta-kladz-kocot' } },
    { params: { slug: 'piotr-firek' } },
    { params: { slug: 'pawel-zbroszczyk' } },
    { params: { slug: 'radek-rak' } },
    { params: { slug: 'wiktoria-czyzycka' } },
    { params: { slug: 'wiktoria-korzeniewska' } },
    { params: { slug: 'witold-jablonski' } },
    { params: { slug: 'vanthica' } },
    { params: { slug: 'zbigniew-dzik' } },
  ]
}

let guest: ProgramSpeakerProfileDto
let events: ProgramEvent[]

try {
  const guestRes = await api.programSpeakers.getProfile(Astro.params.slug!)
  guest = guestRes.data

  const eventsRes = await api.programEvents.allPublic({
    authorId: guest.id,
  })
  events = eventsRes.data
} catch (err) {
  if (axios.isAxiosError(err)) {
    return new Response('Nie znaleziono strony', {
      status: 404,
    })
  } else {
    return new Response('Wystąpił nieznany błąd', {
      status: 500,
    })
  }
}
---

<Layout
  title={guest.displayName! + ' - Goście'}
  description={guest.shortDescription}
>
  <Breadcrumbs
    breadcrumbs={[
      { name: 'Goście', path: '/goscie' },
      { name: guest.displayName! },
    ]}
  />

  <img
    src={guest.image?.url}
    width={guest.image?.meta.width}
    height={guest.image?.meta.height}
    alt={guest.displayName}
    class="w-full md:w-64 mb-8"
    loading="lazy"
  />
  <h1 class="mb-4 text-xl md:text-4xl font-bold">{guest.displayName}</h1>
  <div class="max-w-3xl wysiwyg mb-14">
    <Fragment set:html={guest.description?.trim()} />
  </div>

  <h2 class="mb-4 text-lg font-bold">Program</h2>
  {events.map(event => <ProgramEventAstro event={event} />)}
</Layout>
