---
import Layout from '@layouts/Layout.astro'
import Breadcrumbs from '@components/Breadcrumbs.astro'
import ProgramEventAstro from '@components/ProgramEvent.astro'
import { api } from 'src/api'
import type { ProgramEvent, ProgramSpeakerProfileDto } from 'src/__gen-api'
import axios from 'axios'

export function getStaticPaths() {
  return [
    { params: { slug: 'agnieszka-halas' } },
    { params: { slug: 'krzysztof-m-maj' } },
    { params: { slug: 'wojciech-bryk' } },
    { params: { slug: 'konrad-dark-aniszewski' } },
    { params: { slug: 'kuba' } },
    { params: { slug: 'ignis' } },
    { params: { slug: 'arksal-vox' } },
    { params: { slug: 'michal-jaskier-chmielowski' } },
    { params: { slug: 'sebastian-vos-chrostowski' } },
    { params: { slug: '3d508a77-78f5-40f2-a2ec-eb0f686e7f43' } },
    { params: { slug: 'julia-czernia' } },
    { params: { slug: 'isabella-demi-czyzewska' } },
    { params: { slug: 'adam-daniszenko' } },
    { params: { slug: 'michal-suweren-dabrowski' } },
    { params: { slug: 'jarek-dobrowolski' } },
    { params: { slug: '185e2e89-d343-494a-91ab-39c8c238cc3b' } },
    { params: { slug: 'bdfcf10c-9d8b-4758-af85-90393fa6598d' } },
    { params: { slug: 'e06e5d4e-cbcc-4b8a-8091-bd195e1194db' } },
    { params: { slug: 'df655c12-6c34-4932-926c-8347d6f49852' } },
    { params: { slug: 'df48a31b-a140-41ec-ad0b-e2361100e879' } },
    { params: { slug: 'mistrzseller' } },
    { params: { slug: 'a4dd9641-c8be-4a43-bf97-ce74948c8db9' } },
    { params: { slug: '2bad8a4f-5453-4f9d-b345-8d7a73668bb6' } },
    { params: { slug: '262ed5d4-e7ea-4e54-9c0f-09286b51bb73' } },
    { params: { slug: 'michal-katarn-grzesiak' } },
    { params: { slug: '9f9a145a-dd79-4205-8abd-43729da194e9' } },
    { params: { slug: 'damazus' } },
    { params: { slug: 'agata-iglicka' } },
    { params: { slug: 'michal-dorian-iglicki' } },
    { params: { slug: '7f63ed74-42fc-485a-bfc3-0f76c9c5942e' } },
    { params: { slug: '00550785-5021-4dc1-85ab-d38f2e57c4f9' } },
    { params: { slug: '5530809b-328c-4997-8e3d-9b54026a2a34' } },
    { params: { slug: 'a6c4e531-bacb-4abf-a22f-b83542371744' } },
    { params: { slug: 'nuvrir-rakra' } },
    { params: { slug: 'arkadiusz-bazylka-kobus' } },
    { params: { slug: 'michal-pest-koprowski' } },
    { params: { slug: 'yankes' } },
    { params: { slug: 'michal-kosakowski' } },
    { params: { slug: 'bartosz-chronikarz-kotaniec' } },
    { params: { slug: 'agnieszka-vivianne-kowalska' } },
    { params: { slug: 'lukasz-kenny-kowalski' } },
    { params: { slug: 'tomasz-kozlowski' } },
    { params: { slug: 'mikolaj-feniks-krawczyk' } },
    { params: { slug: 'kajetan-jotaro-kreczmer' } },
    { params: { slug: 'kamilla-matka-krupinska-sadach' } },
    { params: { slug: 'jan-kryska' } },
    { params: { slug: 'jerzy-kryska' } },
    { params: { slug: 'piotr-kryska' } },
    { params: { slug: 'maria-nana-kucharska' } },
    { params: { slug: 'monika-kujawa' } },
    { params: { slug: 'amdir' } },
    { params: { slug: 'anna-lewandowska' } },
    { params: { slug: 'd33f82dd-1690-438e-b9db-7f6bb67219e6' } },
    { params: { slug: '06e409eb-0eee-4837-88df-e1012ce0acff' } },
    { params: { slug: 'ee38f5c1-4466-4e2a-ba2b-06f39141ecbc' } },
    { params: { slug: 'edac056c-b369-4aea-98d9-6832b5b10287' } },
    { params: { slug: 'kacper-mielcarek' } },
    { params: { slug: '625d5293-a577-4f03-854b-2830358f527b' } },
    { params: { slug: 'michal-milka-milczarek' } },
    { params: { slug: 'c30552f7-f6fd-43f9-8081-5eda905ec3fa' } },
    { params: { slug: 'dawid-plushak-mozga' } },
    { params: { slug: 'c33e6892-be8b-43cf-87e5-5b4ba085a110' } },
    { params: { slug: 'emil-mast-musial' } },
    { params: { slug: 'michal-nagrodzki' } },
    { params: { slug: 'mojzesz' } },
    { params: { slug: 'michalina-molii-tsuki-pejska' } },
    { params: { slug: 'wojciech-master-won-perek' } },
    { params: { slug: 'natasza-amane-piasecka' } },
    { params: { slug: 'konrad-salladyn-piasecki' } },
    { params: { slug: 'mateusz-karoid-pietrzak' } },
    { params: { slug: 'krystian-kris-podsiadlo' } },
    { params: { slug: 'radek-rynvord-polanski' } },
    { params: { slug: 'marcin-przybylek' } },
    { params: { slug: 'aleksandra-andzia-radomska-budnik' } },
    { params: { slug: 'karol-czeslaw-rajner' } },
    { params: { slug: 'lovino' } },
    { params: { slug: 'izabela-smoke-rzad' } },
    { params: { slug: 'emilia-dory-sadach' } },
    { params: { slug: 'antoni-stele-sauren' } },
    { params: { slug: 'edwin-sieredzinski' } },
    { params: { slug: 'konsul' } },
    { params: { slug: 'pawel-alduril-skop' } },
    { params: { slug: 'costan' } },
    { params: { slug: 'dogrom' } },
    { params: { slug: 'hubert-morgot-stasiuk' } },
    { params: { slug: 'kamil-conan-stepkowski' } },
    { params: { slug: '540e9f48-c28c-4585-9044-d3645108d4a8' } },
    { params: { slug: '8b29cdda-699a-4437-b89c-f21cd1c976c8' } },
    { params: { slug: 'jan-szejko' } },
    { params: { slug: 'fe3b373b-fd0c-455e-8a9c-54b2b54aa7fc' } },
    { params: { slug: 'lukasz-szpaku-szpakowski' } },
    { params: { slug: 'eb12fe18-9884-4f4f-895c-10621cc12b83' } },
    { params: { slug: '9af92271-aed8-41e3-ab95-70e6ef7761c7' } },
    { params: { slug: 'marik-vao' } },
    { params: { slug: 'c3f7cb05-b9a0-42e8-b776-f0274520d416' } },
    { params: { slug: '280c5ae8-4c60-4cb2-a30a-c756272541f3' } },
    { params: { slug: 'szymon-gris-teodorczyk' } },
    { params: { slug: 'kacper-teofil-teodorczyk' } },
    { params: { slug: '2282f94f-c441-4c8d-9b50-c24e7dc49d8e' } },
    { params: { slug: 'c2065388-d4e7-4fb0-9fa8-77527c02e15f' } },
    { params: { slug: '4b66496b-aa0f-4a85-a69c-c2da33dd039b' } },
    { params: { slug: '1efd12bd-35d4-42ab-88d6-d12c2ea2ba41' } },
    { params: { slug: 'wiktor-elvis-weprzedz' } },
    { params: { slug: 'wesolek' } },
    { params: { slug: 'julia-juku-wegrzyk' } },
    { params: { slug: 'liyu' } },
    { params: { slug: 'wiktoria-wikami-wieszolek' } },
    { params: { slug: '93a8dc90-caca-4a5a-a4e1-4504e77e3d52' } },
    { params: { slug: 'piotr-voynar-wojnarowicz' } },
    { params: { slug: 'zodiak' } },
    { params: { slug: 'jakub-zapala' } },
    { params: { slug: 'margo' } },
    { params: { slug: 'c283b6d8-7780-4a9b-9e4e-e8c3687f3651' } },
    { params: { slug: 'cech-fantastyki-skiercon' } },
    { params: { slug: 'mandayaim' } },
    { params: { slug: 'c688a6e8-b934-46d9-83c9-08267f10c637' } },
    { params: { slug: '2f10a2e5-0df5-40be-a08d-3ea9d8569bb9' } },
    { params: { slug: 'dawne-komputery-i-gry' } },
    { params: { slug: '95969b3e-d8d8-4d97-a0f8-dd80a2ab62b4' } },
    { params: { slug: '2ded380c-20e5-4a2d-ac3f-9ba780430ea8' } },
    { params: { slug: '0e223af9-b16b-4bfd-8108-8a7902f88e18' } },
    { params: { slug: '3cd28a65-534f-4662-a07c-85aa6d4ad96b' } },
    { params: { slug: 'piotr-tivoy-badowski' } },
    { params: { slug: 'tost' } },
    { params: { slug: 'fundacja-slavipole' } },
    { params: { slug: 'key-craft' } },
    { params: { slug: 'wydawnictwo-k2a' } },
    { params: { slug: 'zofia-avery-gierach' } },
    { params: { slug: 'piotr-grajewski' } },
    { params: { slug: '2-towers-leatherworks' } },
    { params: { slug: 'kacper-rogaty-dalek' } },
    { params: { slug: 'julianna-grefkowicz' } },
    { params: { slug: 'jan-ptasiu-ptasinski' } },
    { params: { slug: 'dominika-dommy-ptasinska' } },
    { params: { slug: 'michal-szymanski' } },
    { params: { slug: 'magdalena-vinga-wlochacz' } },
    { params: { slug: 'natalia-ramyun-ciuchta' } },
  ]
}

let guest: ProgramSpeakerProfileDto
let events: ProgramEvent[]

try {
  const guestRes = await api.programSpeakers.getProfile(Astro.params.slug!)
  guest = guestRes.data

  const eventsRes = await api.programEvents.allPublic({
    authorId: guest.id,
  })
  events = eventsRes.data
} catch (err) {
  if (axios.isAxiosError(err)) {
    return new Response('Nie znaleziono strony', {
      status: 404,
    })
  } else {
    return new Response('Wystąpił nieznany błąd', {
      status: 500,
    })
  }
}
---

<Layout
  title={guest.displayName! + ' - Goście'}
  description={guest.shortDescription}
>
  <Breadcrumbs
    breadcrumbs={[
      { name: 'Goście', path: '/goscie' },
      { name: guest.displayName! },
    ]}
  />

  <img
    src={guest.image?.url}
    width={guest.image?.meta.width}
    height={guest.image?.meta.height}
    alt={guest.displayName}
    class="w-full md:w-64 mb-8"
    loading="lazy"
  />
  <h1 class="mb-4 text-xl md:text-4xl font-bold">{guest.displayName}</h1>
  <div class="max-w-3xl wysiwyg mb-14">
    <Fragment set:html={guest.description?.trim()} />
  </div>

  <h2 class="mb-4 text-lg font-bold">Program</h2>
  {events.map(event => <ProgramEventAstro event={event} />)}
</Layout>
