---
import Layout from '@layouts/Layout.astro'
import { api } from 'src/api'
const { data } = await api.programSpeakers.all()
const guests = data.filter(speaker => speaker.guest)
console.log(guests.map(guest => guest.image))
---

<Layout
  title="Goście"
  description="Poznaj niezwykłych, magicznych, szalonych i pełnych pasji. Goście SkierConu polecają się na panele dyskusyjne o tematach ważkich i ważnych, wyjątkowe prelekcje i wciągające warsztaty. Oraz do rozmów przy herbatce (jaśminowej). Sprawdźcie kogo będziecie mieli okazję spotkać na tegorocznym konwencie letniego chilloutu."
>
  <h1 class="mt-24 mb-20 text-4xl font-bold">Goście SkierConu</h1>

  {
    guests.map(guest => {
      return (
        <div class="flex flex-col md:flex-row my-10 md:gap-10">
          <div>
            <img
              src={guest.image.url}
              width={guest.image.meta.width}
              height={guest.image.meta.height}
              height="300"
              alt={guest.name}
              class="w-full xs:w-50"
              loading="lazy"
            />
          </div>
          <div>
            <h2 class="text-2xl mt-4 md:mt-0">{guest.name}</h2>
            <div class="wysiwyg mt-2">
              <Fragment set:html={guest.description} />
            </div>
          </div>
        </div>
      )
    })
  }
</Layout>
