---
import Layout from '@layouts/Layout.astro'
import Breadcrumbs from '@components/Breadcrumbs.astro'
import { api } from 'src/api'
const { data } = await api.programSpeakers.allProfiles({ guests: true })
const guests = data.filter(speaker => speaker.guest)
---

<Layout
  title="Goście"
  description="Poznaj niezwykłych, magicznych, szalonych i pełnych pasji. Goście SkierConu polecają się na panele dyskusyjne o tematach ważkich i ważnych, wyjątkowe prelekcje i wciągające warsztaty. Oraz do rozmów przy herbatce (jaśminowej). Sprawdźcie kogo będziecie mieli okazję spotkać na tegorocznym konwencie letniego chilloutu."
>
  <Breadcrumbs breadcrumbs={[{ name: 'Goście' }]} />
  <h1 class="mb-4 mt-4 text-4xl font-bold">Goście SkierConu</h1>
  <p class="mb-4 md:mb-14">W tym roku obecnością zaszczycą nas:</p>
  <ul>
    {
      guests.map(guest => {
        return (
          <li class="flex flex-col md:flex-row  md:gap-5 mb-6">
            <div class="w-full md:w-2/12 lg:w-1/12">
              <img
                src={guest.image.url}
                width={guest.image.meta.width}
                height={guest.image.meta.height}
                alt={guest.displayName}
                class="w-full"
                loading="lazy"
              />
            </div>
            <a href={`/goscie/${guest.slug}`} class="w-full lg:w-7/12">
              <h2 class="text-xl mt-8 md:mt-1 font-bold">
                {guest.displayName}
              </h2>
              <div class="wysiwyg mt-1 overflow-hidden text-sm">
                <Fragment set:html={guest.shortDescription} />
                <span class="text-cyan-500"> Czytaj więcej »</span>
              </div>
            </a>
          </li>
        )
      })
    }
  </ul>
</Layout>
