---
import type { PageDto } from 'src/__gen-api'
import WidgetGallery from './widgets/WidgetGallery.astro'
import WidgetLinkTiles from './widgets/WidgetLinkTiles.astro'
import WidgetTextPlusImage from './widgets/WidgetTextPlusImage.astro'
import WidgetText from './widgets/WidgetText.astro'
import WidgetFullImages from './widgets/WidgetFullImages.astro'
import WidgetButton from './widgets/WidgetButton.astro'
import WidgetHtml from './widgets/WidgetHtml.astro'
import WidgetProgramEvents from './widgets/WidgetProgramEvents.astro'

export interface Props {
  widgets: Array<PageDto['widgets']>
}
---

{
  Astro.props.widgets.map((widget) => {
    switch (widget.type) {
      case 'text':
        return <WidgetText widget={widget} />
      case 'textPlusImage':
        return <WidgetTextPlusImage widget={widget} />
      case 'linkTiles':
        return <WidgetLinkTiles widget={widget} />
      case 'gallery':
        return <WidgetGallery widget={widget} />
      case 'fullImages':
        return <WidgetFullImages widget={widget} />
      case 'button':
        return <WidgetButton widget={widget} />
      case 'html': 
        return <WidgetHtml widget={widget} />
      case 'programEvents':
        return <WidgetProgramEvents widget={widget} />
      default:
        return <></>
    }
  }).map(widget => <div class="widget my-12 md:my-20 lg:my-24">{widget}</div>)
}
